<section class="regras-page">

  <header class="page-header">
    <h1 class="page-title">
      REGRAS
    </h1>

    <div class="title-line"></div>

    <p class="page-subtitle">
      Consulte e organize regras rápidas para facilitar suas sessões.
    </p>

    <button class="btn-criar" (click)="abrirFormulario()">
      + Criar Regra
    </button>
  </header>

  @if (mensagemSucesso) {
    <div class="mensagem sucesso">
      {{ mensagemSucesso }}
    </div>
  }

  @if (mensagemErro) {
    <div class="mensagem erro">
      {{ mensagemErro }}
    </div>
  }

  @if (mostrarFormulario) {
    <section class="form-container">
      <form [formGroup]="form" (ngSubmit)="salvar()" class="regra-form">

        <h2 class="form-title">
          {{ editando ? 'Editar Regra' : 'Nova Regra' }}
        </h2>

        <div class="form-grid">
          <div class="field">
            <label>Título</label>
            <input formControlName="titulo" class="form-input">
          </div>

          <div class="field">
            <label>Categoria</label>
            <input formControlName="categoria" class="form-input">
          </div>
        </div>

        <div class="field descricao">
          <label>Descrição</label>
          <textarea rows="6" formControlName="descricao" class="form-textarea"></textarea>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn-save">
            {{ editando ? 'Salvar Alterações' : 'Cadastrar' }}
          </button>

          <button type="button" (click)="fecharFormulario()" class="btn-cancel">
            Cancelar
          </button>
        </div>

      </form>
    </section>
  }

  @if (regras.length === 0) {
    <p class="empty-message">
      Nenhuma regra cadastrada.
    </p>
  }

  <section class="cards-container regras-lista">
    @for (regra of regras; track regra.id) {
      <article class="regra-card">

        <span class="categoria">
          {{ regra.categoria }}
        </span>

        <h2>
          {{ regra.titulo }}
        </h2>

        <p class="descricao-card">
          {{ regra.descricao }}
        </p>

        <div class="status">
          {{ regra.status === 1 ? 'Ativo' : 'Inativo' }}
        </div>

        <div class="card-actions">
          <button class="btn-edit" (click)="editar(regra)">
            Editar
          </button>

          <button class="btn-toggle" (click)="alterarStatus(regra)">
            {{ regra.status === 1 ? 'Inativar' : 'Ativar' }}
          </button>

          <button class="btn-delete" (click)="excluir(regra.id)">
            Excluir
          </button>
        </div>

      </article>
    }
  </section>

</section>