<nav class="navbar">

    <a
        routerLink="/dashboard"
        class="logo-container">

        <img
            src="assets/logo.icon.png"
            alt="Logo">

        <span>GRIMOIRE OF STARS</span>

    </a>

    <div class="navbar-right">

        <a routerLink="/dashboard" routerLinkActive="active">
            Dashboard
        </a>

        <a routerLink="/personagens" routerLinkActive="active">
            Personagens
        </a>

        <a routerLink="/habilidades" routerLinkActive="active">
            Habilidades
        </a>

        <a routerLink="/regras" routerLinkActive="active">
            Regras
        </a>

        <a routerLink="/ameacas" routerLinkActive="active">
            Ameaças
        </a>

        <div class="profile-menu">

    

    <button class="logout-button" (click)="sair()">
        SAIR
    </button>

</div>

    </div>

</nav>
